@page "/post/{PostName}"

<PageTitle>@(header != null  ? header.Title : "Post")</PageTitle>

<div class="max-w-3xl mx-auto px-4 py-8">

    @if (isLoading)
    {
        <Loading/>
    }
    else if (!postExists)
    {
        <NotFound/>
    }
    else
    {
        @if(header is not null)
        {
            <h1 class="text-4xl font-bold font-serif mb-4 text-center text-inherit">@header.Title</h1>

            <div class="text-sm mb-6 flex flex-wrap justify-between items-center gap-2  text-gray-700 dark:text-gray-300">
                @if(header.Tags?.Count > 0)
                {
                    <div class="flex flex-wrap gap-2">
                        @foreach(var tag in header.Tags)
                        {
                          <span class="inline-block bg-indigo-100 text-indigo-700 dark:bg-indigo-950/20 dark:text-indigo-300 border border-indigo-300 dark:border-indigo-500/30 px-3 py-1 rounded-full text-sm font-medium">
                               @tag
                          </span>           
                        }
                    </div>
                }
                <span class="opacity-70 whitespace-nowrap">@header.Date</span>
            </div>

             @if(!string.IsNullOrWhiteSpace(header.Cover))
             {
                <div class="mb-8">
                    <img src="@header.Cover" alt="Post image"  class="w-full max-h-[400px] object-cover rounded-xl border border-neutral-200 dark:border-white/10" />
                 </div>
             }
        }
        <div class="prose dark:prose-invert max-w-none font-serif text-inherit">
            @((MarkupString)htmlContent)
        </div>
}
</div>